.sidebar-cont {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #000;
  display: grid;
  align-items: center;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
}

.close-icon {
  color: #fff;
}

.icon {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
}

.sidebar-wrapper {
  color: #fff;
}

.sidebar-menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 80px);
  text-align: center;

  @media screen and (max-width: 480px) {
    grid-template-rows: repeat(6, 60px);
  }
}

.sidbar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-decoration: none;
  list-style: none;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    color: #7066ff;
    transition: 0.2s ease-in-out;
  }
}

.btn-wrap {
  display: flex;
  justify-content: center;
}

.sidebar-route {
  clip-path: polygon(15% 0, 85% 0, 100% 50%, 84% 100%, 15% 100%, 0% 50%);
  background: #7066ff;
  white-space: nowrap;
  padding: 15px 22px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;

  &:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: black;
  }
}
