.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 20px;
  width: 100%;
  h1 {
    font-size: 40px;
    font-weight: lighter;
  }
  .underline {
    margin-top: 15px;
    margin-bottom: 30px;
    width: 80px;
    border-bottom: white 4px solid;
  }
}
.scroll-to {
  position: relative;
  top: -80px;
}
