.main-header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-size: 30px;
  p {
    text-align: center;
    padding: 5px;
    z-index: 200;
  }
}
.my-name {
  color: #7066ff;
  font-weight: bold;
}
.particles {
  width: 100%;
  height: 100%;
}
.move-up {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 45vh;
}

.header-button {
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  cursor: pointer;
  font-size: 25px;
  margin-top: 10px;
  transition: background-color 0.5s, color 0.5s;
  .arrow {
    margin-left: 10px;
    transition: transform 0.3s linear;
  }
  &:hover {
    color: black;
    background-color: white;
    .arrow {
      transform: rotate(90deg);
    }
  }
}
